<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="band.mlgb.kfun">

    <uses-permission android:name="android.permission.CAMERA" />
    <!--take higher resolution pic-->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".EntryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageLabelingActivity"
            android:label="@string/image_labeling">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.mlgb.band"
                    android:pathPrefix="/image_labeling"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TextDetectionActivity"
            android:label="@string/text_detection">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.mlgb.band"
                    android:pathPrefix="/text_detection"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FaceDetectActivity"
            android:label="@string/face_detection">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.mlgb.band"
                    android:pathPrefix="/face_detection"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BarcodeDetectorActivity"
            android:label="@string/barcode_detection">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.mlgb.band"
                    android:pathPrefix="/barcode"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LandmarkDetectorActivity"
            android:label="@string/landmark_detection">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.mlgb.band"
                    android:pathPrefix="/landmark"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LangIdActivity"
            android:label="@string/lang_detect">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.mlgb.band"
                    android:pathPrefix="/langid"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SmartReplyActivity"
            android:label="@string/smart_reply">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.mlgb.band"
                    android:pathPrefix="/smartreply"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TranslatorActivity"
            android:label="@string/translate">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.mlgb.band"
                    android:pathPrefix="/translate"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <!--automatically download new models on device, if app is posted to app store, the model will be predownloaded when it's installed-->
        <!--label: image labeling-->
        <!--ocr: text detection-->
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="label,ocr,face,barcode" />


        <!--
        file provider for saving pictures taken
        exported false makes it private
        -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="band.mlgb.kfun.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>